*{
  /* border: 1px solid black;   */
}
.red {
  color: red
}
.yellow{

  color: rgb(156, 156, 8)
}
.blue {
  color: blue;
}
.Purple{
  color: Purple;
}
.result{
  background-image: url('research.png');
  background-size: 100%;
  width: 40px;
  height: 40px;

}
body{
  background: #d8f3f8;
  background-size: auto;
}
/* .App {
  background-image: url('competition.jpg');
  background-size: auto;
background-repeat: no-repeat;
} */
h1 {
  text-align: center;
  margin-top: 80px;
}
.hedder1{
/* border: 1px  solid black */
/* ma */
}
h4{
  /* font-family: cursive; */

}

.hedder2 div{
  height: 30px;
  width: 30px;
  margin: 0 128px;
  /* background-image: url("scroll.png"); */

  /* background-image: url('up-arrow.png'); */
}
.aroow {
  background-image: url("up-arrow.png");
  background-size: 100%;
}
.hedder1 h4 {
font-size: 20px;
  margin: 0 10px;
}
.boxs{
margin: 5% 5% ;
    display: flex;
    flex-direction:column; 
    
}
.boxs div {

    display: flex;
    justify-content: center;

}
.boxs div div {

  display: flex;
  justify-content: center;
  flex-direction:column; 
  font-family: 'Dancing Script', cursive;
font-size: 20px;
font-weight: bold;


}

.mm {
    /* border: 1px solid black;  */
height: 100px ;
width: 110px ;
margin: 0 30px 30px 30px;
}
p{
  height: 30px;
  text-align: center;
}
.qc{
  margin: 5% 5% ;
      display: flex;
      flex-direction:column; 
      
  }
  .qc div {
  
      display: flex;
      justify-content: center;
  
  }
  .qc div  div {
      border: 1px solid black; 
  height: 70px ;
  width: 80px ;
  margin: 10px;
  }
  .qc_Part{
    border: 1px solid black; 
/* height: 350px; */
width: 800px;
margin: 0  auto;
display: flex;
justify-content:space-between;
flex-direction:column; 
background: #89dae9;
border-radius: 10% / 50%;


}
.qc_Part .question {
margin: 0 auto;
    text-align: center;
    width: 600px;
}
.qc_Part div{
    display: flex;
    justify-content:space-around;

}
.qc_Part div div{
    display: flex;
    flex-direction:column; 

}
.main_top{
width: 30px ;
height: 30px;
margin:  10px auto ;

/* background-image: url("homepage.png"); */
background-image: url("homepage.png");
background-size: 100%

}
.Geography{
  background-image: url("map.png");
  background-size: 100%
}
.Computer{
  background-image: url("laptop.png");
  background-size: 100%
}
.Mathematics{
  background-image: url("maths.png");
  background-size: 100%
}
.History{
  background-image: url("scroll.png");
  background-size: 100%
}
.Films{
  background-image: url("movie.png");
  background-size: 100%
}
.Animal{
  background-image: url("pets.png");
  background-size: 100%
}
.Sport{
  background-image: url("bike.png");
  background-size: 100%
}
.GeneralKnowleg{
  background-image: url("intellectual.png");
  background-size: 100%
}

.box1{
background-color: rgb(14, 223, 7);
border-radius: 25% 10%;
font-family: 'Patrick Hand', cursive;


}
.box2{
  background-color: rgb(247, 165, 44);
  border-radius: 25% 10%;
  text-align: center;
display: inline-block;
font-family: 'Patrick Hand', cursive;

}
  .box3{
    background-color: rgb(206, 63, 27);
    border-radius: 25% 10%;
    font-family: 'Patrick Hand', cursive;

}
.box1,.box2,.box3 p{

font-size: 18px;
}
.box1:hover,.box2:hover,.box3:hover { 
  background-color: rgba(8, 44, 38, 0.616);
 }

 header{

display: flex;
justify-content: flex-end;
 }
 header div {
  display: flex;

 }
 header div div {

margin:  0  80px;
 }
 /* {
  width:200px;
  height: 50px;
    /* background-color: red; */
  /* padding: 15px;	
  text-align: center;
  line-height: 50px;
}  */
.blink{
  background-color: rgb(56, 245, 9);

  /* font-size: 25px; */
  color: white;
  animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

.yasser{
font-size: 50px;
  font-family: 'Kaushan Script', cursive;

}
.qc_Part h4{
  font-family: 'Patrick Hand', cursive;

font-size: 23px;
}
.qc_Part h2 {
  font-family: 'Patrick Hand', cursive;

  font-size: 30px;

}
.hedder1 h4 {
  font-family: 'Kaushan Script', cursive;


}
.blink2{
  background-color: rgb(245, 76, 9);

  /* font-size: 25px; */
  color: white;
  animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}


.header-container {
  text-align: center;
  color: rgb(255, 2, 2);
  font-family: 'Patrick Hand', cursive;
width: 600px;
font-size:30px; 
text-align: center;
margin: 0 10%;
 
}

.scroll-hint {
color: rgb(0, 0, 0);
position: absolute;
bottom: 30px;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px 40px;
border: 3px solid #212121;
font-size: 13px;
font-family: 'Roboto Condensed', Helvetica, Helvetica Neue, Arial, sans-serif;
  background-color: rgba(255,255,255,1);
}
.picInto{
  height: 200px;
  width: 300px;
  position: relative;
  left: 700px;
  top:-50px;
  background-image: url('creative.png');
  background-size: 66%;
  background-repeat: no-repeat;
}
.img3{
  margin-left:35% ;
  color: red;
  font-family: 'Patrick Hand', cursive;

}